.wrapper{
  padding: 0px 40px;
}
.top-cards{
  margin-top: -50px;
  margin-bottom: 3em;
}

.card{
  border-radius: 8px;
  overflow: hidden;
  background: #f0f3fa;
  text-align: center;
  padding: 1.5em 0;
  position: relative;
}
  body.dark .card{
      background: var(--darkMode);
  }

.card:before{
  content: "";
  height: 4px;
  display: block;
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  /* background: var(--facebook1); */
}
.card.facebook::before{
  background: var(--facebook1);
}
.card.twitter::before{
  background: var(--twitter);
}
.card.instagram::before{
  /* background-image: linear-gradient(to right, red 0%, blue 100%); */
  background-image: linear-gradient(to right, var(--instagram1), var(--instagram2));
}
.card.youtube::before{
  background: var(--youtube);
}
.card-title{
  display: flex;
  align-items: center;
  justify-content: center;
  color: var(--gray);
  font-size: .9em;
  font-weight: bold;
}
  .card-title img{
      margin-right: 10px;
  }
          .card-followers-number{
          font-size: 50px;
          font-weight: 700;
          color: var(--baseColor);
      }
      body.dark .card-followers-number{
          color: var(--lightGray);
      }
      .card-followers-title{
          display: block;
          color:var(--gray);
          letter-spacing: 5px;
          text-transform: uppercase;
          font-size: .75em;
      }
  .card-today{
      margin-top: 20px;
      color: var(--lime-green);
      font-size: .7em;
      font-weight: bold;
      display: flex;
      align-items: center;
      justify-content: center;
  }
      .card-today img{
          margin-right: 5px;
      }
/* ---------------------OVERVIEW -----------------------*/
.overview{
  padding-bottom: 2em;
}
  .overview h2{
      color: var(--gray);
  }
      .card-small{
          display: grid;
          /* 2 filas y 2 columnas */
          grid-template-columns: 1fr 1fr;
          grid-row-gap: 1em;
          background: var(--cardGray);
          border-radius: 8px;
          padding: 1.7em;
      }
      body.dark .card-small{
          background: var(--darkMode);
      }
          .card-small p{
              margin: 0;
          }
          .card-small-views{
              color: var(--gray);
              font-weight: bold;
              font-size: .9em;
          }
          .card-small-icon{
              text-align: right;
          }
          .card-small-number{
              font-weight: bold;
              font-size: 2.5em;
              line-height: .9;
          }
          body.dark .card-small-number{
              color: var(--lightGray);
          }
          .card-small-percentage{
               text-align: right;
               display: flex;
               align-items: flex-end;
               color: var(--lime-green);
               justify-content: flex-end;
               font-size: .8em;
               font-weight: bold;
          }
          .card-small-percentage.is-danger{
              color: var(--bright-red);
          }
          .card-small-percentage span{
              display: flex;
              align-items: center;
          }
          .card-small-percentage img{
              margin-right: 5px;
          }

@media screen and (min-width: 480px){
  .grid{
      grid-template-columns: 1fr 1fr;
      grid-column-gap: 25px;
  }
  .wrapper{
      max-width: 1440px;
      margin: auto;
  }
}
@media screen and (min-width: 768px){
  .grid{
      grid-template-columns: 1fr 1fr 1fr;
      grid-column-gap: 25px;
  }
}
@media screen and (min-width: 1024px){
  .grid{
      grid-template-columns: 1fr 1fr 1fr 1fr;
      grid-column-gap: 25px;
  }
}

